/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\components\\FeatureSection.tsx","import":"Syne","arguments":[{"subsets":["latin"],"display":"swap","weight":["400","600","800"]}],"variableName":"syne"} ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Syne_Fallback_3799b4';src: local("Arial");ascent-override: 93.93%;descent-override: 27.93%;line-gap-override: 0.00%;size-adjust: 98.47%
}.__className_3799b4 {font-family: '__Syne_3799b4', '__Syne_Fallback_3799b4';font-style: normal
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/services/style.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
body {
	background:#000;
	margin:0;
}



.headline {
	border-radius:6px;
	height:4em;
	width:100%;
}

.text {
	margin:0.8em 0 0 0;
	border-radius:6px;
	height:1em;
	width:100%;
}


.gallery {
  display:flex;	
}

.left {
	width:50%;
}

.detailsWrapper {
	margin:auto;
	width:80%;
}

.details {
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}


.right {
	width:50%;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.photos {
	width:40vw;
	height:40vw;
	position:relative;
}

.photo {
	position:absolute;
	width:90%;
	height:65%;
	border-radius: 20px;
}

.gallery {
	position: relative;
	z-index: 10;
  }
  
  .spline-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
  }

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/next/font/google/target.css?{"path":"src\\components\\services\\Gallery.tsx","import":"Syne","arguments":[{"subsets":["latin"],"display":"swap","weight":["400","600","800"]}],"variableName":"syne"} ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/10c4eb715c61a3e6-s.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/5154c5c28c3353bb-s.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: '__Syne_3799b4';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/_next/static/media/0acf7bf726cd1ef0-s.p.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {font-family: '__Syne_Fallback_3799b4';src: local("Arial");ascent-override: 93.93%;descent-override: 27.93%;line-gap-override: 0.00%;size-adjust: 98.47%
}.__className_3799b4 {font-family: '__Syne_3799b4', '__Syne_Fallback_3799b4';font-style: normal
}

